.container {
	width: 920px;
	margin: 0 auto;
}

img {
	width: 100%;
	height: auto;
}

.clear {
	clear: both;
}

h1, h2, h3 {
	color: #7D5BA6;
}

h1{
	font-size: 26px;
}

h2 {
	font-size: 21px;
}

h3 {
	font-size: 18px;
}

/* hr style ---------
	.aside-hr {
		background-color: #FC6471;
		width: 200px;
		height: 1px;
		border: 0;
	}
*/

/*
	white: #FFFFFF
	purple: #7D5BA6
	black: #2C3E50
	red: #FC6471
*/

.aside-hr {
		background-color: #FC6471;
		width: 200px;
		height: 1px;
		border: 0;
	}
.clear{
    clear: both;
}

.left{
    float: right;
}
.clear{
    clear: both;
}
.clear{
    clear: both;
}

.right{
    float: left;
}
.clear{
    clear: both;
}

.right ul{
    list-style: none;
}
.right ul li{
    display: inline-block;
}
.right ul li a{
    text-decoration: none;
    color: #2C3E50;
    padding: 15px;
}
.aside{
    width: 300px;
    float: left;
}
.clear{
    clear: both;
}

.aside h2
{
    color:#FC6471;
}
.clear{
    clear: both;
}

.main
{
    width: 600px;
    height: 300px;
    float: right;
}
.clear{
    clear: both;
}

.col-4
{
    width: 120px;
    float: left;
    text-align: justify;
    margin-right: 30px;
}
.clear{
    clear: both;
}